{
  darwin = {
    username = "qa";
    hostname = "Quocs-MacBook-Pro";
    system = "aarch64-darwin";
  };
  nixos = {
    username = "qa";
    hostname = "nixos";
    system = "x86_64-linux";
  };
}
